## Frauenanteil der Bevölkerung zwischen 1960 und 2022

 Gruppe: Miranda Downing, Elena Buchli

 Fragen: 
 
 -In welchen Ländern ist der Bevölkerungsanteil der Frauen zwischen 1960 und 2022 am meisten gesunken oder gestiegen?
 
 -Welche Gründe gibt es für die Veränderungen?

 Quellen:
 
 https://ourworldindata.org/gender-ratio

### 1. Daten beschaffen und laden

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('share-population-female.csv', skiprows=1,
                 names=['Gebiet','Code','Jahr','Anteil Population weiblich in %']) 
df.head()

        Gebiet Code  Jahr  Anteil Population weiblich in %
0  Afghanistan  AFG  1960                        48.083054
1  Afghanistan  AFG  1961                        48.165000
2  Afghanistan  AFG  1962                        48.242370
3  Afghanistan  AFG  1963                        48.315890
4  Afghanistan  AFG  1964                        48.385273

### 2. Daten vorbereiten

In [4]:
df_pivot = df.pivot(index='Gebiet', columns='Jahr', values='Anteil Population weiblich in %')
df_pivot.head()

Jahr,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Gebiet,,,,,,,,,,,,,,,,,,,,,
Afghanistan,48.083054,48.165000,48.242370,48.315890,48.385273,48.450287,48.511803,48.570465,48.626003,48.677998,...,49.442104,49.432137,49.423183,49.414608,49.419285,49.437210,49.455486,49.470943,49.488403,49.508720
Albania,48.797123,48.769444,48.734352,48.691364,48.642930,48.592712,48.542490,48.491707,48.440876,48.390232,...,49.840595,49.837696,49.842410,49.856564,49.878532,49.906067,49.939330,49.988052,50.049040,50.117737
Algeria,49.568150,49.549220,49.444250,49.317616,49.144753,48.956123,48.868008,48.871320,48.872444,48.872456,...,49.024277,49.030834,49.037370,49.041508,49.044548,49.048107,49.053470,49.063175,49.075874,49.085533
American Samoa,48.648247,48.671580,48.716620,48.763042,48.812675,48.882050,48.926292,48.941566,48.972977,49.037730,...,49.757523,49.824768,49.892930,49.968285,50.061660,50.161076,50.265210,50.375630,50.507380,50.592910
Andorra,49.454624,49.236492,49.046670,48.847030,48.660362,48.492220,48.301937,48.034298,47.754550,47.520190,...,49.496265,49.528770,49.559560,49.507860,49.373620,49.248800,49.123035,49.014156,48.932106,48.905090