## Frauenanteil der Bevölkerung zwischen 1960 und 2022

 Gruppe: Miranda Downing, Elena Buchli

 Fragen: 
 
 -In welchen Ländern ist der Bevölkerungsanteil der Frauen zwischen 1960 und 2022 am meisten gesunken oder gestiegen?
 
 -Welche Gründe gibt es für die Veränderungen?

 Quellen:
 
 https://ourworldindata.org/gender-ratio

### 1. Daten beschaffen und Laden

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('share-population-female.csv', skiprows=1,
                 names=['Gebiet','Code','Jahr','Anteil Population weiblich in %']) 
df.head()

        Gebiet Code  Jahr  Anteil Population weiblich in %
0  Afghanistan  AFG  1960                        48.083054
1  Afghanistan  AFG  1961                        48.165000
2  Afghanistan  AFG  1962                        48.242370
3  Afghanistan  AFG  1963                        48.315890
4  Afghanistan  AFG  1964                        48.385273